/* 갤러리 hover  */
a[href="#detail"]:hover {
    background-color: rgba(255, 255, 255, 0.116);
}
/* 클릭시 나타나는 상세 갤러리 */

.detail_background {
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.detail_background > .cancle {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
}
.detail_background > .cancle:hover {
	cursor: pointer;
}
/* 작품수정버튼 */
#workUpdateButton {
	position: absolute;
	display: none;
	top: -30px;
	left: 50%;
	transform: translateX(-50%);
	width: 60px;
	height: 60px;
	
}
#workUpdateButton:hover {
	cursor: pointer;
}
.detail_content {
position: absolute;
width: 500px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
border-radius: 20px;
}
/* 상세 타이틀 */
.detail_title {
display: flex;
align-items: center;
}
.detail_title > p {
flex: 1;
margin: 30px 40px;
font-size: 1.2rem;
color: #808080;
}

/* 상세 이미지 */
#detail_img {
    margin-bottom: 20px;
    position: relative;
}
#detail_img > img {
	display: block;
	margin: auto;
	max-width: 100%;
    max-height: 100%;
}
#workOption {
	display: none;
	width: 100%;
	position: absolute;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.3);
}
#workOptionFollow,
#workOptionLike,
#workOptionBuy {
	flex: 1;
	display: flex;
}
#workOptionUpdate {
	flex: 1;
	display: none;
}

#workOption > div:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.7);
}
#workOption > div > img {
	display: block;
	margin: auto;
	width: 55px;
	height: 55px;
	align-self: center;
}
/* 상세 태그 목록 */
#detailworkTag {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 40px;
}
#detailworkDesc {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px 40px;
    font-size: 0.9rem;	
}
.detail_tag > span {
    display: inline-block;
    background-color: #f5e981;
    color: #252121;
    border-radius: 5px;
    align-self: flex-start;
    padding: 5px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.7rem;
    font-weight: 600;
}

/* 상세 설명 */
.detail_spec {
display: grid;
grid-template-columns: 1fr 270px;
grid-template-rows: 60px;
grid-template-areas: 
    "detail_artist detail_degrees ";
font-size: 0.8rem;
align-items: center;
margin: 20px 20px;
}
/* 상세설명 좌측 */
.detail_artist {
    grid-area: detail_artist;
    padding: 5px 20px;
    height: 50px;
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 50px;
}
.detail_artist > span {
    grid-column-start: 2;
    align-self: center;
    justify-self: center;
}
.detail_artist > img {
    grid-column-start: 1;    
    width: 50px;
    height: 50px;
    border-radius: 10px;
}
/* 상세설명 우측 */
.detail_degrees {
    grid-area: detail_degrees;
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-template-rows: 26px 26px;
    grid-template-areas: 
    "date price reply"
    "view like buy";
}
.detail_degrees > div {
    filter: grayscale(80) opacity(0.7);
    display: grid;
    grid-template-columns: 25px 1fr;
    }
.detail_degrees > div > img {
    display: inline-block;
    width: 20px;
    height: 18px;
    padding: 4px 5px 4px 0;
}
.detail_degrees > div > span { align-self: center;}
.desc_date {grid-area: date;}
.desc_price {grid-area: price;}
.desc_reply {grid-area: reply;}
.desc_view {grid-area: view;}
.desc_like {grid-area: like;}
.desc_buy {grid-area: buy;}
/* 댓글 쓰는 공간 */
.detail_reply_write {
    display: flex;
    position: relative;
}
.detail_reply_write > textarea {
    display: block;
    resize: none;
    outline: none;
    text-align: center;
    border-radius: 10px;
    width: 420px;
    height: 60px;
    padding: 10px 80px 10px 20px;
    box-sizing: border-box;
    margin: 10px auto;
    border: none;
    background-color: #ebebeb;
    line-height: 1.3rem;
    font-size: 1rem;
}
.detail_reply_write > textarea::placeholder {
    line-height: 40px;
}
.detail_reply_write > textarea:focus::placeholder,
.detail_reply_write > textarea::-webkit-scrollbar {
    visibility: hidden;
}
.detail_reply_write > label {
    position: absolute;
    top: 10px;
    right: 40px;
    background-color: #9dadc4;
    width: 60px;
    height: 60px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}
.detail_reply_write > label > img {
    height: 26px;
    width: 30px;
    padding: 17px 15px;
}
/* 댓글목록 */
.reply_content {
    margin-bottom: 20px;
}
.reply_content > div {
    display: grid;
    grid-column-start: 1;
    grid-template-columns: 40px 1fr;
    grid-template-rows: minmax(40px, 1fr);
    grid-template-areas:
        "profile reply_content";
    padding: 10px 0;
    margin: 0 40px;
    border-bottom: 0.5px solid #c4c4c4;
    justify-items: center;
}
.reply_content > div:last-child {
    border: none;
}
.reply_content > div > img {
    display: block;
    grid-area: profile;
    width: 40px;
    height: 40px;
    align-self: center;
    border-radius: 5px;
}
.reply_content > div > span {
    display: block;
    grid-area: reply_content;
    align-self: center;
    font-size: 0.8rem;
    color: #585858;
    margin: 4px 0 0 20px;
    line-height: 18px;
}